body{
	margin:0px;
	background-color:#e8e9eb;
}
#CEN{
	width:1340px;
	height:auto;
	margin:0px auto;
	position:relative;
	background-color:#333333;
}
#p_up{
	background-repeat:no-repeat;
	background-image:url(../../img/up.jpg);
	background-color:white;
	width:100%;
	height:300px;
	position:relative;
}

#ban{
	width:750px;
	height:650px;
	background-color:#FFFFFF;
	border-color:#e8e9eb;
	border-style:solid;
	border-width:3px;
	position:relative;
	top:-110px;
	left:250px;
	padding-left:30px;
	padding-top:10px;
}
#dibu{
	margin: 0 auto;
	padding-top:20px;
	border-top-color:#666666;
	border-top-style:solid;
	border-top-width:1px;
	color:#555555;
	background-color:#333333;
	width:800px;
	height:30px;
	font-size:12px;
}
#heder{
	background-image:url(../img/light1.png);
	background-repeat:no-repeat;
	width:137px;
	height:102px;
	position:relative;
	left:90px;
	top:60px;
}
#heder:hover{
	background-image:url(../img/light2.png);
	background-repeat:no-repeat;
	width:403px;
	height:102px;
	left:90px;
	top:60px;
	
}
#GG{
	background-image:url(../img/light.png);
	background-repeat:no-repeat;
	width:700px;
	height:544px;
}
.back{
	width:66px;
	height:44px;
	background-repeat:no-repeat;
	background-image:url(../../img/Aback1.png);
}
.back:hover{
	width:66px;
	height:44px;
	background-repeat:no-repeat;
	background-image:url(../../img/Aback2.png);
}